<section id="title">
	<h2>Hi, <%= @name %>. </h2>
</section>
<%if @win_result == nil %>
<section id='choices'>
	<h3 id="choise">Choose one, please!</h3>
	<form action="/play" method="post">
		<% case @selected_option
			when nil %>
				<input type='radio' name="rps" id="rps_rock" value='rock'> 
					<label for="rps_rock">Rock</label>
				<input type='radio' name="rps" id="rps_paper" value='paper'>
					<label for="rps_paper">Paper</label>
				<input type='radio' name="rps" id="rps_scissors" value='scissors'>
					<label for="rps_scissors">Scissors</label>
			<%when 'rock' %>
				<input type='radio' name="rps" id="rps_rock" value='rock' checked="checked" >
					<label for="rps_rock">Rock</label>
				<input type='radio' name="rps" id="rps_paper" value='paper'>
					<label for="rps_paper">Paper</label>
				<input type='radio' name="rps" id="rps_scissors" value='scissors' >
					<label for="rps_scissors">Scissors</label>
			<%when 'paper'%>
				<input type='radio' name="rps" id="rps_rock" value='rock'><label for="rps_rock">Rock</label>
				<input type='radio' name="rps" id="rps_paper" value='paper' checked="checked"><label for="rps_paper">Paper</label>
				<input type='radio' name="rps" id="rps_scissors" value='scissors' ><label for="rps_scissors">Scissors</label>
			<%when 'scissors'%>
				<input type='radio' name="rps" id="rps_rock" value='rock'><label for="rps_rock">Rock</label>
				<input type='radio' name="rps" id="rps_paper" value='paper'><label for="rps_paper">Paper</label>
				<input type='radio' name="rps" id="rps_scissors" value='scissors' checked="checked"><label for="rps_scissors">Scissors</label>
		<%end%>
		<input type="submit" value="Play"/>
	</form>
	<%if session[:message] != '' %>
		<h3 id="msg"> <%=session[:message] %> </h3>
	<%end%>
<%end%>
</section>

<%if @win_result != nil %>
	<% if @win_result.eql?("win") %>
		<h3> <%= @player_option.capitalize %> beats <%= @opponent_option%>. You Win!!!!!</h3>
	<% elsif @win_result.eql?("loose")  %>
		<h3>Saddly <%= @opponent_option %> beats <%= @player_option%>. You loose!</h3>
	<%else%>
		<h3>It's a tie!!!!!!!!</h3>
	<% end %>
	<form id="form-play-again" action="/play_again" method="get">	
		<input id="play-again" type="submit" value="Play again"/>
	</form>
<% end %>
<meta http-equiv="refresh" content="10">


