<h1>Hi, <%= @name %>. </h1>

<h3>Choose one, please!</h3>

<form action="/play" method="post">
	<input type='radio' name="rps" id="rps_rock" value='rock'>Rock</input>
	<input type='radio' name="rps" id="rps_paper" value='paper'>Paper</input>
	<input type='radio' name="rps" id="rps_scissors" value='scissors'>Scissors</input>
	<input type="submit" value="Play"/>
</form>

<%if @is_winner != nil %>
	<% if @is_winner %>
		<h3> <%= @playerOption.capitalize %> beats <%= @computerOption%>. You Win!!!!!</h3>
	<% else %>
		<h3>Saddly <%= @computerOption %> beats <%= @playerOption%>. You loose!</h3>
	<% end %>
<% end %>

